<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">

</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-light ">
        <a class="navbar-brand" href="/dashboard"> BLOG/ </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/editprofile">EditProfile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" id="logout" name="logout" >Logout</a>
          </ul>
          
        </div>
      </nav>

   
       
      
      <% for(var i=0; i<user.length; i++) { %>
      
          <% } %>
          
          <% for (var i = 0; i < user.length; i++) {%>
          
              <img src="<%= user[i].image %>" width="60px" height="60px" />
            
          
            <!-- Nested loop below --> 
            
            <% for (var j = 0; j < user[i].message.length; j++) {%>
            
          
              <!-- <% if (user[i].message[j] == user.name) { %>
               
              
            
                <% } else { %>
           

                  <% } %> -->


                  <li>  <%= user[i].username %>  </li>
                  <li>  <%= user[i].message[j] %>  </li> 
             


 
            <% } %>
          
          <% } %>



      
         
 

</body>
</html>